.setting{
    width: 100%;
    position: absolute;
    height: 100%;

    h5{
        font-size: 14px;
        margin-bottom: 0;
        opacity: 0.8;
    }
    .div-seperator{
        margin-top: 15px;
    }
    .ant-checkbox-wrapper{
        font-size: 13.5px;
    }

    .top-div{
        height: 58px;
        padding: 0 20px;
        justify-content: space-between;

        .ant-form-item{
            margin-bottom: 0;
        }

    }
    .mid-div{
        padding: 20px;
        .num-inpt{
            margin-right: 5px;
            width: 60px;
            background-color: rgba(128, 128, 128, 0.144);
            border-radius: 4px;
            input{
                font-weight: 600;
            }
        }
        .ant-checkbox-wrapper{
            margin-top: 20px;
            margin-bottom: 20px;
            opacity: 0.8;
            span{
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
    .chk-div{
        padding: 20px;
        padding-bottom: 5px;
        .ant-checkbox-wrapper{
            padding-bottom: 20px;
            margin-left: 0;
            margin-right: 15px;
        }
    }
    .btn-div{
        .right-space{
            margin-right: 15px;
        }
        .yellow-btn{
            background: #fbd54d;
            border-color: #fbd54d;
            &:hover{
                background-color: #fcdb67;
                border-color: #fcdb67
            }
            &:active{
                background: #dab42e;
                border-color: #dab42e;
            }
        }
        .green-btn{
            background: #51d74f;
            border-color: #51d74f;
            &:hover{
                background-color: #72da70;
                border-color: #72da70
            }
            &:active{
                background: #40ad3e;
                border-color: #40ad3e;
            }
        }
    }
}
.loading-div{
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    background-color: rgba(255, 255, 255, 0.185);
    justify-content: center;
    backdrop-filter: blur(2px);
}